<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    xa:link {  text-decoration: none}
    xa:hover { text-decoration: underline}
    .xmypanel-header {
        background-color: #E0ECFF;
    }
</style>
<head>
    <title>医护部门-医生</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mygrxx.css" />
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/default/easyui.me.css">
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../system/css/icon.css">
    <script type="text/javascript" src="../jqeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../system/easyui_functions.js"></script>
    <script type="text/javascript" src="../functions/functions/functions.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <meta charset="utf-8">
</head>

<div id="main" title="医生" paddingdata-options="fit:true" style="height:auto">
</div>

<body class="easyui-layout" data-options="fit:true" style="overflow:hidden;margin: 1px 1px 1px 1px;">

<div id="tree" data-options="region:'west', split:true" style="overflow:hidden; width:129px;">

</div>
<div data-options="region:'center'" style="border-width:0px;" >
    <div id="myForm1" class="easyui-panel" data-options="fit:true" style="">

    </div>
</div>
<!-- 医嘱的 菜单栏 -->
<div id="tb" style="position: absolute;top:3px;left:600px; ">
    <input type="text" placeholder="请输入姓名/类别" name="" id="search" value="" style="margin-bottom:2px;height:20px;font-size: 10px"/>
    <a id="btn" href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="margin-left: -5px"></a>
    <!--plain="true"去掉边框-->
    <a href="javascript:newStaff()" class="easyui-linkbutton" iconCls="icon-add" plain="true" style="margin-left: 20px">添加</a>
    <a href="javascript:updateStaff()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
    <a href="javascript:deleteStaff()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
</div>
<!--病程记录的菜单栏-->
<div id="tb1" style="position: absolute;top:3px;left:600px;display:none; ">
    <input type="text" placeholder="请输入姓名/病名" name="" id="search1" value="" style="margin-bottom:2px;height:20px;font-size: 10px"/>
    <a id="btn1" href="javascript:search1()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="margin-left: -5px"></a>
    <!--plain="true"去掉边框-->
    <a href="javascript:newStaff2()" class="easyui-linkbutton" iconCls="icon-add" style="margin-left: 20px" plain="true">添加</a>
    <a href="javascript:updateStaff2()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
    <a href="javascript:deleteStaff2()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
</div>

<!--增加医嘱表单-->
    <div id="dlg" class="easyui-dialog" style="width:400px;height:380px;padding:10px 20px" closed="true" draggable="true" buttons="#dlg-buttons">
        <br id="fm" method="post" onSubmit="return checkForm()">
        <input id="staffid1" class="text" type="hidden" >
        <div class="fitem">
            <label>医嘱编号:</label>
            <input id="adviceid" class="easyui-textbox" typed="true" >
            <span id="account_msg1"></span>
        </div></br>
        <div class="fitem">
            <label>儿童姓名:</label>
            <input id="childrenid" class="easyui-combobox" required="true" data-options="editable:false,panelHeight:'auto'">
        </div></br>
        <div class="fitem">
            <label>类别:</label>
            <select id="state" class="easyui-combobox" typed="true" style="width:90px" data-options="editable:false,panelHeight:'auto'">
                <option value="0" selected = "selected">长期</option>
                <option value="1">短期</option>
            </select>
        </div></br>
        <div class="fitem">
            <label>内容:</label>
            <input id="content"  class="easyui-textbox" typed="true" style="width:190px" >
        </div></br>
        <div class="fitem">
            <label>开始时间:</label>
            <input id="starttime" class="easyui-datebox" typed="true">
        </div></br>
        <div class="fitem">
            <label>结束时间:</label>
            <input id="endtime" class="easyui-datebox" typed="true">
        </div></br>
        <div class="fitem">
            <label>备&nbsp;&nbsp;&nbsp;注:</label>
            <input id="note" class="easyui-textbox" >
        </div></br>

        <div class="fitem">
            <label>是否开处方:</label>
            <select id="flag" class="easyui-combobox" typed="true" style="width:90px" data-options="editable:false,panelHeight:'auto'">
            <option value="0" selected = "selected">是</option>
            <option value="1">否</option>
        </select>
        </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStaff()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>



<!--增加处方表单-->
    <div id="dlg1" class="easyui-dialog" style="width:380px;height:280px;padding:10px 20px" closed="true" draggable="true" buttons="#dlg-buttons1">
        <div class="fitem">
            <label>医嘱编号:</label>
            <input id="adviceid1" class="easyui-textbox" typed="true" >
        </div></br>
        <div class="fitem">
            <label>儿童姓名:</label>
            <input id="childrenid1" class="easyui-textbox" required="true" >
        </div></br>
        <div class="fitem">
            <label>药品名称:</label>
            <input id="drugid1"  class="easyui-combobox" typed="true" style="width:120px" data-options="editable:false,panelHeight:'auto'">
        </div></br>
        <div class="fitem">
            <label>药品数量:</label>
            <input id="quantity1" class="easyui-textbox" typed="true">
        </div></br>
    </div>
    <div id="dlg-buttons1">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStaff1()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')">取消</a>
    </div>

<!--增加病程记录表单-->
<div id="dlg2" class="easyui-dialog" style="width:400px;height:380px;padding:10px 20px" closed="true" draggable="true" buttons="#dlg-buttons2">
    <div class="fitem">
        <label>儿童姓名:</label>
        <input id="childrenid2" class="easyui-combobox" required="true" data-options="editable:false,panelHeight:'auto'">
    </div></br>
    <div class="fitem">
        <label>病&nbsp;&nbsp;&nbsp;名:</label>
        <input id="disease"  class="easyui-textbox" typed="true">
    </div></br>
    <div class="fitem">
        <label>疗&nbsp;&nbsp;&nbsp;程:</label>
        <input id="course" class="easyui-textbox" typed="true">
    </div></br>
    <div class="fitem">
        <label>状&nbsp;&nbsp;&nbsp;态:</label>
        <select id="condition" class="easyui-combobox" typed="true" style="width:90px" data-options="editable:false,panelHeight:'auto'">
            <option value="1" selected = "selected">良好</option>
            <option value="2">一般</option>
            <option value="3">差</option>
        </select>
    </div></br>
    <div class="fitem">
        <label>建&nbsp;&nbsp;&nbsp;议:</label>
        <input id="advice" class="easyui-textbox" typed="true" style="width:190px">
    </div></br>
    <div class="fitem">
        <label>备&nbsp;&nbsp;&nbsp;注:</label>
        <input id="note2" class="easyui-textbox" >
    </div></br>
    </form>
</div>
<div id="dlg-buttons2">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStaff2()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')">取消</a>
</div>
<div class="mask" style="display:none;"></div>
<!--编辑弹框-->
<div class="bj" style="display:none;">
    <h3 style="margin-top: 0px">儿童基础资料</h3>
    <form action="#" method="get" style="margin-top: -30px;">
        <label>编号：</label><input id="userid1" type="text" readonly="readonly"/></br>
        <label>姓名：</label><input id="name1" type="text" /></br>
        <label>性别：</label><input  id="sex1" type="text"   readonly="readonly" /></br>
        <label>年龄：</label><input id="age1" type="text"   readonly="readonly" /></br>
        <label>当前状态：</label><input id="status1" type="text"  readonly="readonly" /></br>
        <label>出生日期：</label><input id="birthdate1" type="text"  readonly="readonly" /></br>
        <label>身份证号：</label><input id="cardid1" type="text"  readonly="readonly" /></br>
        <label>入院时间：</label><input id="addmissiondate1"type="text"  readonly="readonly" /></br>
        <label>护理级别：</label><input id="nurse1" type="text" readonly="readonly"  /></br>
        <div class="bc">
            <input id="cancel" type="button" value="返回" />
        </div>
    </form>
</div>

<script>
    var staffid = localStorage.getItem("staffid");
    $("#tree").tree({
        data:[{
            "id":0,
            "text":"全部",
            "checked":true,
            "children":[{
                "id":1,
                "text":"医嘱单"
            }, {
                "id":2,
                "text": "处方单"
            }, {
                "id": 3,
                "text": "病程记录"
        }]
        }]
    });

    var str='<div id="myGrid1" class="easyui-datagrid"></div>';
    $("#myForm1").append($(str));

    $('#tree').tree({
        onSelect: function (row) {
            if (row.id == 1) {
                $('#tb').show();
                $('#tb1').hide();
                var xcolumns = [
                    [
                        {title: '医嘱编号', field: 'adviceid', width: 80, sortable: true, align: 'center'},
                        {title: '儿童姓名', field: 'childrenid', width: 80, sortable: true, align: 'center',
                            formatter : function(value, row, index) {
                                var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="detail(this)">'+value+'</a>';
                                return str1;
                            }},
                        {title: '日期', field: 'date', width: 120, halign: 'center', align: 'left',},
                        {title: '类别', field: 'type', width: 120, halign: 'center', align: 'center'},
                        {title: '开始时间', field: 'starttime', width: 140, halign: 'center', align: 'center'},
                        {title: '结束时间', field: 'endtime', width: 140, halign: 'center', align: 'center'},
                        {title: '医生编码', field: 'doctorid', width: 100, halign: 'center', align: 'center'},
                        {title: '内容', field: 'content', width: 190, halign: 'center', align: 'left'},
                        {title: '备注', field: 'dnote', width: 90, halign: 'center', align: 'center'},
                        {title: '是否开处方', field: 'flag', width: 90, halign: 'center', align: 'center'}
                    ]
                ];
                $("#myGrid1").datagrid({
                    title: '&nbsp;医嘱列表',
                    iconCls: "panelIcon",
                    width: 1190,
                    height: 435,
                    singleSelect: true,
                    columns: xcolumns,
                    url: 'http://localhost:8080/welfare/advice/findAll',
                });
            }else if(row.id==2){
                $('#tb').hide();
                $('#tb1').hide();
                var xcolumn = [
                    [
                        {title: '医嘱编号', field: 'adviceid', width: 80, sortable: true, align: 'center'},
                        {title: '医生编号', field: 'doctorid', width: 80, halign: 'center', align: 'center',},
                        {title: '儿童姓名', field: 'childrenid', width: 80, sortable: true, align: 'center',
                            formatter : function(value, row, index) {
                                var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="detail(this)">'+value+'</a>';
                                return str1;
                            }},
                        {title: '日期', field: 'date', width: 120, halign: 'center', align: 'left',},
                        {title: '状态', field: 'state', width: 120, halign: 'center', align: 'center'},
                        {title: '药品名称', field: 'drugid', width: 140, halign: 'center', align: 'center'},
                        {title: '药品数量', field: 'quantity', width: 100, halign: 'center', align: 'center'},
                        {title: '药师编号', field: 'druggist', width: 140, halign: 'center', align: 'center'},
                        {title: '备注', field: 'note', width: 90, halign: 'center', align: 'center'},
                        {
                            field : 'operation',
                            title : '操作',
                            width : 70,
                            halign:'center', align: 'center',
                            formatter : function(value, row,
                                                 index) {
                                if(row.druggist=="" || row.druggist==null) {//未配
                                    var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="editr(this)">编辑</a>&nbsp;&nbsp;';
                                    str1 += '<a href ="#"  class="easyui-linkbutton"   onclick="deleter(this)">删除</a>';
                                }
                                return str1;
                            }
                        }
                    ]
                ];
                $("#myGrid1").datagrid({
                    title: '&nbsp;处方列表',
                    iconCls: "panelIcon",
                    width: 1040,
                    height: 435,
                    singleSelect: true,
                    columns: xcolumn,
                    url: 'http://localhost:8080/welfare/recipel/findAll',
                });

            }else if(row.id==3){
                $('#tb1').show();
                $('#tb').hide();
                var xcolumn1 = [
                    [
                        {title: '儿童姓名', field: 'childrenid', width: 80, sortable: true, align: 'center',
                            formatter : function(value, row, index) {
                                var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="detail(this)">'+value+'</a>';
                                return str1;
                            }},
                        {title: '病名', field: 'disease', width: 80, halign: 'center', align: 'center',},
                        {title: '疗程', field: 'course', width: 80, sortable: true, align: 'center'},
                        {title: '日期', field: 'date', width: 120, halign: 'center', align: 'left',},
                        {title: '状态', field: 'condition', width: 120, halign: 'center', align: 'center'},
                        {title: '建议', field: 'advice', width: 290, halign: 'center', align: 'center'},
                        {title: '医生编号', field: 'doctorid', width: 140, halign: 'center', align: 'center'},
                        {title: '状态', field: 'flag', width: 10, halign: 'center', align: 'center',hidden:true},
                        {
                            field : 'operation',
                            title : '操作',
                            width : 120,
                            halign:'center', align: 'center',
                            formatter : function(value, row,
                                                 index) {
                                if(row.flag=="治疗中"){
                                    var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="editt(this)">下个疗程</a>&nbsp;&nbsp;';
                                    str1 += '<a href ="#"  class="easyui-linkbutton"   onclick="finish(this)">治愈</a>&nbsp;&nbsp;';
                                }else{
                                    var str1 = '<a href="javascript:;" target="_Blank" class="easyui-linkbutton" style="text-decoration: none; cursor: default; opacity: 0.2" >已治愈</a>';
                                }
                                console.log("str1"+str1);
                                return str1;
                            }
                        }
                    ]
                ];
                $("#myGrid1").datagrid({
                    title: '&nbsp;病程记录',
                    iconCls: "panelIcon",
                    width: 1080,
                    height: 435,
                    singleSelect: true,
                    columns: xcolumn1,
                    url: 'http://localhost:8080/welfare/treatment/findAll',
                });
            }
        }
    });

    cnodes=$('#tree').tree('getRoot');
    cnodess=$('#tree').tree('getChildren',cnodes.target);
    $('#tree').tree('select', cnodess[0].target);

// 选择开处方的话弹出新增处方的表单
    $('#flag').combobox({
        onSelect:function(record){
            console.log("record"+record);
            if(record.value==0){
                flag2=1;
                var adviceid=$('#adviceid').val();
                var childrenid=$('#childrenid').combobox('getText');
                $('#dlg1').dialog('open').dialog('setTitle','新增处方记录');
                $('#adviceid1').textbox('textbox').attr('readonly',true);
                $('#childrenid1').textbox('textbox').attr('readonly',true);
                $('#adviceid1').textbox('setValue',adviceid);
                $('#childrenid1').textbox('setValue',childrenid);
                $('#drugid1').combobox('setValue','');
                $('#quantity1').textbox('setValue','');
            }
        }
    });
    //儿童下拉框的数据加载
    $('#childrenid').combobox({
        url:'http://localhost:8080/welfare/children/findIn',
        valueField:'childrenid',
        textField:'name'
    });
    $('#childrenid2').combobox({
        url:'http://localhost:8080/welfare/children/findIn',
        valueField:'childrenid',
        textField:'name'
    });
    // 药品下拉框的数据加载
    $('#drugid1').combobox({
        url:'http://localhost:8080/welfare/drug/findAll',
        valueField:'drugid',
        textField:'name'
    });

    /*弹出增加form表单*/

    // 新增医嘱单
    function newStaff(){
        flag1=1;
        $('#dlg').dialog('open').dialog('setTitle','新增医嘱记录');
        $('#adviceid').textbox('textbox').attr('readonly',false);
        $('#adviceid').textbox('setValue','');
        $('#childrenid').combobox('setValue','');
        $('#endtime').datebox('setValue','');
        $('#note').textbox('setValue','');
        $('#state').combobox('setValue','');
        $('#flag').combobox('setValue','');
        $('#content').textbox('setValue','');
        $('#starttime').datebox('setValue','');
    }
    // 医嘱单修改
    function updateStaff(adviceid) {
        $('#dlg').dialog('open').dialog('setTitle', '修改医嘱记录');
        flag1 = 2;
        var row = $('#myGrid1').datagrid('getSelected');
        console.log(row.adviceid);
        $('#adviceid').textbox('textbox').attr('readonly',true);
        $('#adviceid').textbox('setValue',row.adviceid);
        $('#childrenid').combobox('setValue',row.childrenid);
        $('#endtime').datebox('setValue',row.endtime);
        $('#note').textbox('setValue',row.note);
        $('#state').textbox('setValue',row.state);
        $('#content').textbox('setValue',row.content);
        $('#flag').combobox('setValue',row.flag);
        $('#starttime').datebox('setValue',row.starttime);
    }
    // 删除医嘱单
    function deleteStaff(adviceid){
        $.messager.confirm('确认提示', '确定删除医嘱信息？', function (r) {
            if (r) {
                var row = $('#myGrid1').datagrid('getSelected');
                console.log("row" + row);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/advice/delete",
                    data: JSON.stringify({
                        "adviceid": row.adviceid
                    }),
                    success: function (result) {
                        console.log(result);
                        $.messager.show({
                            title:'提示信息',
                            msg:'删除成功！',
                            timeout:1000,
                            showType:'slide'
                        });
                        $("#myGrid1").datagrid("reload");
                    }
                });
            }
        })
    }
    //点击医嘱单的确认修改按钮
    function  saveStaff() {
        var row = $('#myGrid1').datagrid('getSelected');
        var n = $('#myGrid1').datagrid('getRowIndex', row);
        var adviceid = $('#adviceid').val();
        var childrenid = $('#childrenid').combobox('getText');
        var endtime = $('#endtime').datebox('getValue');
        var note = $('#note').val();
        var starttime = $("#starttime").datebox('getValue');
        var flag = $('#flag').combobox('getText');
        var state = $('#state').combobox('getText');
        var content = $('#content').val();
        var date = new Date().Format("yyyy-MM-dd");
        if (adviceid == null || adviceid == "") {
            $.messager.show({
                title:'提示信息',
                msg:'请输入编号！',
                timeout:1000,
                showType:'slide'
            });
        } else if (content == null || content == "") {
            $.messager.show({
                title:'提示信息',
                msg:'请输入医嘱内容！',
                timeout:1000,
                showType:'slide'
            });
        } else {
            if (flag1 == 1) {//插入
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/advice/register",
                    data: JSON.stringify({
                        "adviceid": adviceid,
                        "childrenid": childrenid,
                        "dnote": note,
                        "date": date,
                        "state": state,
                        "starttime": starttime,
                        "endtime": endtime,
                        "flag": flag,
                        "content": content,
                        "doctorid": staffid,
                        "condition": '未执行'
                    }),
                    success: function (result) {
                        var userinfo = JSON.stringify(result);
                        console.log(userinfo);
                        newData = eval("(" + userinfo + ")");
                        console.log(newData);
                        if (newData.Msg == "添加成功!") {
                            $.messager.show({
                                title:'提示信息',
                                msg:'添加成功！',
                                timeout:1000,
                                showType:'slide'
                            });
                            $("#myGrid1").datagrid("reload");
                            $('#dlg').dialog('close');
                            var data = $('#myGrid1').datagrid('getData');
                            $('#myGrid1').datagrid('selectRow', data.rows.length);
                        } else {
                            alert(newData.Msg);
                        }
                    }
                });
            } else if (flag1 == 2) {//修改
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/advice/updateById",
                    data: JSON.stringify({
                        "adviceid": row.adviceid,
                        "childrenid": childrenid,
                        "dnote": note,
                        "date": date,
                        "state": state,
                        "starttime": starttime,
                        "endtime": endtime,
                        "flag": flag,
                        "content": content
                    }),
                    success: function (result) {
                        if(flag="否"){//保存时如果处方表中有则删除
                            $.ajax({
                                type: "post",
                                dataType: "json",
                                contentType: 'application/json',
                                url: "http://localhost:8080/welfare/recipel/findById",
                                data: JSON.stringify({
                                    "adviceid": adviceid
                                }),
                                success: function (result) {
                                    console.log("result" + result);
                                    if (result != null) {
                                        $.ajax({
                                            type: "post",
                                            dataType: "json",
                                            contentType: 'application/json',
                                            url: "http://localhost:8080/welfare/recipel/delete",
                                            data: JSON.stringify({
                                                "adviceid": adviceid
                                            }),
                                            success: function (result) {
                                                console.log(result);
                                                $.messager.show({
                                                    title:'提示信息',
                                                    msg:'修改成功！',
                                                    timeout:1000,
                                                    showType:'slide'
                                                });
                                                $("#myGrid1").datagrid("reload");
                                                $('#dlg').dialog('close');
                                            }
                                        });
                                    }
                                }
                            });
                        }if(flag=="否"){//保存时如果处方表中有该条记录则更新，没有则插入
                                $.ajax({
                                    type: "post",
                                    dataType: "json",
                                    contentType: 'application/json',
                                    url: "http://localhost:8080/welfare/recipel/findById",
                                    data: JSON.stringify({
                                        "adviceid": adviceid
                                    }),
                                    success: function (result) {
                                        console.log("result" + result);
                                        if (result == null) {
                                            $.ajax({
                                                type: "post",
                                                dataType: "json",
                                                contentType: 'application/json',
                                                url: "http://localhost:8080/welfare/recipel/insert",
                                                data: JSON.stringify({
                                                    "adviceid": adviceid,
                                                    "childrenid": childrenid,
                                                    "drugid": drugid,
                                                    "quantity": quantity,
                                                    "state": "未配",
                                                    "date": date,
                                                    "doctorid": staffid
                                                }),
                                                success: function (result) {
                                                    console.log(result);
                                                    $.messager.show({
                                                        title:'提示信息',
                                                        msg:'修改成功！',
                                                        timeout:1000,
                                                        showType:'slide'
                                                    });
                                                    $('#dlg').dialog('close');
                                                    $("#myGrid1").datagrid("reload");
                                                }
                                            });
                                        } else {
                                            $.ajax({
                                                type: "post",
                                                dataType: "json",
                                                contentType: 'application/json',
                                                url: "http://localhost:8080/welfare/recipel/updateById",
                                                data: JSON.stringify({
                                                    "adviceid": row.adviceid,
                                                    "drugid": drugid,
                                                    "quantity": quantity
                                                }),
                                                success: function (result) {
                                                    console.log(result);
                                                    $.messager.show({
                                                        title:'提示信息',
                                                        msg:'修改成功！',
                                                        timeout:1000,
                                                        showType:'slide'
                                                    });
                                                    $('#dlg').dialog('close');
                                                    $("#myGrid1").datagrid("reload");
                                                }
                                            });
                                        }
                                    }
                                });
                        }
                    }
                })
            }
        }
    }


    /*弹出增加form表单*/
    // 病程记录的增删改
    function newStaff2(){
        flag3=1;
        $('#dlg2').dialog('open').dialog('setTitle','新增病程记录');
        $('#childrenid2').combobox('setValue','');
        $('#disease').textbox('setValue','');
        $('#course').textbox('setValue','');
        $('#condition').combobox('setValue','');
        $('#note2').textbox('setValue','');
        $('#advice').textbox('setValue','');
    }
    function updateStaff2(e) {
        $('#dlg2').dialog('open').dialog('setTitle', '修改病程记录');
        flag3 = 2;
        var row = $('#myGrid1').datagrid('getSelected');
        $('#childrenid2').combobox('readonly',true);
        $('#disease').textbox('textbox').attr('readonly',true);
        $('#course').textbox('textbox').attr('readonly',true);
        $('#childrenid2').combobox('setValue',row.childrenid);
        $('#disease').textbox('setValue',row.disease);
        $('#course').textbox('setValue',row.course);
        $('#condition').combobox('setValue',row.condition);
        $('#advice').textbox('setValue',row.advice);
        $('#note2').textbox('setValue',row.note);
    }

    // 删除
    function deleteStaff2(e){
        $.messager.confirm('确认提示', '确定删除成长信息？', function (r) {
            if (r) {
                var row = $('#myGrid1').datagrid('getSelected');
                console.log("row" + row);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/treatment/delete",
                    data: JSON.stringify({
                        "childrenid": row.childrenid,
                        "disease": row.disease,
                        "course": row.course
                    }),
                    success: function (result) {
                        console.log(result);
                        $.messager.show({
                            title:'提示信息',
                            msg:'删除成功！',
                            timeout:1000,
                            showType:'slide'
                        });
                        $("#myGrid1").datagrid("reload");
                    }
                });
            }
        })
    }

    //点击病程记录的确认修改按钮
    function  saveStaff2() {
        var row = $('#myGrid1').datagrid('getSelected');
        var n = $('#myGrid1').datagrid('getRowIndex', row);
        var childrenid = $('#childrenid2').combobox('getText');
        var note = $('#note2').val();
        var condition = $('#condition').combobox('getText');
        var course = $('#course').val();
        var advice = $('#advice').val();
        var disease = $('#disease').val();
        var date = new Date().Format("yyyy-MM-dd");
        if (childrenid == null || childrenid == "") {
            $.messager.show({
                title:'提示信息',
                msg:'请输入儿童姓名！',
                timeout:1000,
                showType:'slide'
            });
        } else if (disease == null || disease == "") {
            $.messager.show({
                title:'提示信息',
                msg:'请输入病名！',
                timeout:1000,
                showType:'slide'
            });
        }else if(course == null || course == ""){
            $.messager.show({
                title:'提示信息',
                msg:'请输入疗程！',
                timeout:1000,
                showType:'slide'
            });
        }else {
            if (flag3 == 1) {//插入
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/treatment/insert",
                    data: JSON.stringify({
                        "childrenid": childrenid,
                        "disease": disease,
                        "note": note,
                        "date": date,
                        "course": course,
                        "advice": advice,
                        "condition":condition,
                        "doctorid": staffid,
                        "flag":"治疗中"
                    }),
                    success: function (result) {
                        $.messager.show({
                            title:'提示信息',
                            msg:'添加成功！',
                            timeout:1000,
                            showType:'slide'
                        });
                            $("#myGrid1").datagrid("reload");
                            $('#dlg2').dialog('close');
                            var data = $('#myGrid1').datagrid('getData');
                            $('#myGrid1').datagrid('selectRow', data.rows.length);
                    }
                });
            } else if (flag3 == 2) {//修改
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/treatment/updateById",
                    data: JSON.stringify({
                        "childrenid": row.childrenid,
                        "disease": row.disease,
                        "course": row.course,
                        "date": date,
                        "note": note,
                        "advice": advice,
                        "condition": condition
                    }),
                    success: function (result) {
                        $.messager.show({
                            title:'提示信息',
                            msg:'修改成功！',
                            timeout:1000,
                            showType:'slide'
                        });
                        $('#dlg2').dialog('close');
                        $("#myGrid1").datagrid("reload");
                    }
                });
            }
        }
    }
    function editt(){
        $('#dlg2').dialog('open').dialog('setTitle', '下一疗程');
        flag3 = 1;
        var row = $('#myGrid1').datagrid('getSelected');
        $('#childrenid2').combobox('readonly',true);
        $('#disease').textbox('textbox').attr('readonly',true);
        $('#course').textbox('textbox').attr('readonly',true);
        $('#disease').textbox('setValue',row.disease);
        $('#childrenid2').combobox('setValue',row.childrenid);
        $('#course').textbox('setValue',row.course+1);
        $('#condition').combobox('setValue','');
        $('#note2').textbox('setValue','');
        $('#advice').textbox('setValue','');
        }
    function finish(){
        var row = $('#myGrid1').datagrid('getSelected');
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/treatment/findByD",
            data:JSON.stringify({
                "childrenid":row.childrenid,
                "disease":row.disease
            }),
            success: function (result) {
                console.log(result);
                for(var i=0;i<result.length;i++){
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        contentType: 'application/json',
                        url: "http://localhost:8080/welfare/treatment/updateById",
                        data:JSON.stringify({
                            "childrenid":row.childrenid,
                            "disease":row.disease,
                            "course":result[i].course,
                            "flag":"已治愈"
                        }),
                        success: function (result) {
                            console.log(result);

                            $("#myGrid1").datagrid("reload");
                        }
                    });
                }
                $.messager.show({
                    title:'提示信息',
                    msg:'已治愈！',
                    timeout:1000,
                    showType:'slide'
                });
            }
        });
    }


// 处方单的删除
    function deleter(e) {
        var row = $('#myGrid1').datagrid('getSelected');
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/recipel/delete",
            data: JSON.stringify({
                "adviceid": row.adviceid
            }),
            success: function (result) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/advice/updateById",
                    data: JSON.stringify({
                        "adviceid": row.adviceid,
                        "flag": "否"
                    }),
                    success: function (result) {
                        console.log(result);
                        $.messager.show({
                            title:'提示信息',
                            msg:'删除成功！',
                            timeout:1000,
                            showType:'slide'
                        });
                        $("#myGrid1").datagrid("reload");
                    }
                });
            }
        });
    }

    function editr(e){
        $('#dlg1').dialog('open').dialog('setTitle', '修改处方记录');
        flag2 = 2;
        var row = $('#myGrid1').datagrid('getSelected');
        console.log(row.adviceid);
        $('#adviceid1').textbox('textbox').attr('readonly',true);
        $('#childrenid1').textbox('textbox').attr('readonly',true);
        $('#adviceid1').textbox('setValue',row.adviceid);
        $('#childrenid1').textbox('setValue',row.childrenid);
        $('#drugid1').combobox('setValue',row.drugid);
        $('#quantity1').textbox('setValue',row.quantity);
    }

    // 点击处方点的save按钮
    function saveStaff1(){
        var row=$('#myGrid1').datagrid('getSelected');
        drugid=$('#drugid1').combobox('getText');
        quantity=$('#quantity1').val();
        if(flag2==1){//医嘱中的新增
            $('#dlg1').dialog('close');
        }else {//处方中的修改
            $.ajax({
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                url: "http://localhost:8080/welfare/recipel/updateById",
                data:JSON.stringify({
                    "adviceid":row.adviceid,
                    "drugid":drugid,
                    "quantity":quantity
                }),
                success: function (result) {
                    console.log(result);
                    $.messager.show({
                        title:'提示信息',
                        msg:'修改成功！',
                        timeout:1000,
                        showType:'slide'
                    });
                    $('#dlg1').dialog('close');
                    $("#myGrid1").datagrid("reload");
                }
            });
        }


    }


    function detail(e){
        var row=$('#myGrid1').datagrid('getSelected');
        console.log("row===="+row);
        $(".mask").show();
        $(".bj").show();
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/children/findByName",
            data: JSON.stringify({
                "name": row.childrenid
            }),
            success: function (result) {
                console.log(result);
                document.getElementById("userid1").value=result.childrenid;
                document.getElementById("name1").value=row.childrenid;
                document.getElementById("age1").value=result.age;
                document.getElementById("sex1").value=result.sex;
                document.getElementById("status1").value=result.status;
                document.getElementById("addmissiondate1").value=result.admissiondate;
                document.getElementById("nurse1").value=result.nurse;
                document.getElementById("birthdate1").value=result.birthdate;
                document.getElementById("cardid1").value=result.cardid;
            }
        });
    }
    //	取消按钮
    $("#cancel").click(function(){
        $(".mask").hide();
        $(".bj").hide();
    });

//医嘱单的搜索
    function search(){
        var keywords = document.getElementById("search").value;
        $.ajax({
            url: "/welfare/advice/findByCondition",
            type: "POST",
            dataType:"json",
            contentType : 'application/json',
            data: JSON.stringify({"childrenid":keywords}),
            async: false,
            success: function(result){
                console.log(result);
                $("#myGrid1").datagrid('loadData',result);
            }
        });
    }

    //病程记录的搜索
    function search1(){
        var keywords = document.getElementById("search1").value;
        $.ajax({
            url: "/welfare/treatment/findByCondition",
            type: "POST",
            dataType:"json",
            contentType : 'application/json',
            data: JSON.stringify({"childrenid":keywords}),
            async: false,
            success: function(result){
                console.log(result);
                $("#myGrid1").datagrid('loadData',result);
            }
        });
    }


</script>

</body>

</html>