<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    xa:link {  text-decoration: none}
    xa:hover { text-decoration: underline}
    .xmypanel-header {
        background-color: #E0ECFF;
    }
</style>
<head>
    <title>护理部门-活动申请</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mygrxx.css" />
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/default/easyui.me.css">
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../system/css/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/sysmsg.css">
    <script type="text/javascript" src="../jqeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../system/easyui_functions.js"></script>
    <script type="text/javascript" src="../functions/functions/functions.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <script type="text/javascript" src="../js/sysmsg.js"></script>
    <meta charset="utf-8">
    </head>

<div id="main" title="活动申请" paddingdata-options="fit:true" style="height:auto">
</div>

<body class="easyui-layout" data-options="fit:true" style="overflow:hidden;margin: 1px 1px 1px 1px;">

<div id="tree" data-options="region:'west', split:true" style="overflow:hidden; width:129px;">

</div>
<div data-options="region:'center'" style="border-width:0px;" >
    <div id="myForm1" class="easyui-panel" data-options="fit:true" style="">

    </div>
</div>

<div class="mask" style="display:none;"></div>
<!--编辑弹框-->
<div class="bj" style="display:none;">
    <h3 style="margin-top: 0px">用户基础资料</h3>
    <form action="#" method="get" style="margin-top: -30px;">
        <label>账号：</label><input id="userid1" type="text" readonly="readonly"/></br>
        <label>姓名：</label><input id="name1" type="text" readonly="readonly"/></br>
        <label>性别：</label><input  id="sex1" type="text"   readonly="readonly" /></br>
        <label>年龄：</label><input id="age1" type="text"   readonly="readonly" /></br>
        <label>电话号码：</label><input id="phone1" type="text"  readonly="readonly" /></br>
        <label>地址：</label><input id="address1" type="text"  readonly="readonly" /></br>
        <label>身份证号：</label><input id="cardid1" type="text"  readonly="readonly" /></br>
        <label>email：</label><input id="email1"type="text"  readonly="readonly" /></br>
        <label>微信号：</label><input id="wechat1" type="text" readonly="readonly"  /></br>
        <label>QQ：</label><input id="qq1" type="text"  readonly="readonly" /></br>
        <label>工作：</label><input id="job1" type="text" readonly="readonly"  /></br>
        <label>工作单位：</label><input id="work1" type="text"  readonly="readonly" /></br>
        <div class="bc">
            <input id="cancel" type="button" value="返回" />
        </div>
    </form>
</div>
<div id="message-dock">
    <div id="message-sleeve" class="group">
        <p><span class="sprite message-icon"></span><span id="message-text"></span><a class="dismiss"></a></p>
    </div>
</div>
<script>
    var staffid = localStorage.getItem("staffid");
    $("#tree").tree({
        data:[{
            "id":1,
            "text":"全部",
            "checked":true,
            "children":[{
                "id":3,
                "text":"初审中"
            }, {
                "id":2,
                "text": "复审中"
            }, {
                "id": 4,
                "text": "已完成"
                }, {
                "id": 5,
                "text": "已拒绝"
            }]
            }]
    });

    var str='<div id="myGrid1" class="easyui-datagrid"></div>';
    $("#myForm1").append($(str));


    $('#tree').tree({
        onSelect:function(row) {
                var xcolumns=[
                    [
                        { title: '活动编号', field: 'activityid', width: 10,  align: 'center',hidden:true},
                        { title: '活动名称', field: 'name', width: 100,  halign:'center', align: 'center'	},
                        { title: '内容', field: 'content', width: 240, halign:'center', align: 'left', },
                        { title: '活动时间', field: 'date', width: 120, halign:'center', align: 'center' },
                        { title: '组织单位', field: 'organization', width: 140, halign:'center', align: 'center' },
                        { title: '负责人', field: 'manager', width: 70, halign:'center', align: 'center' },
                        { title: '申请时间', field: 'adate', width: 120, halign:'center', align: 'center' },
                        { title: '员工编码', field:'staffid', width: 70, halign:'center', align: 'center' },
                        { title: '审核员工', field:'checker', width: 70, halign:'center', align: 'center' },
                        { title: '申请人', field: 'userid', width: 70, halign:'center', align: 'center' ,
                            formatter : function(value, row, index) {
                                var str1 = '<a href ="#"  class="easyui-linkbutton"   onclick="detail(this)">'+value+'</a>';
                                return str1;
                            }
                            },
                        { title: '状态', field: 'flag', width: 90, halign:'center', align: 'center' },
                        {
                            field: 'operation',
                            title: '操作',
                            width: 90,
                            halign: 'center', align: 'center',
                            formatter: function (value, row,
                                                 index) {
                                if (row.flag == '初审中') {
                                    var str = '<a href ="#"  class="easyui-linkbutton"   onclick="ok(this)">接受</a>&nbsp;&nbsp;&nbsp;';
                                    str = str + '<a href ="#"  class="easyui-linkbutton"   onclick="reject(this)">拒绝</a>';
                                } else if (row.flag == '复审中') {
                                    var str = '<a href ="#"  class="easyui-linkbutton"   onclick="giveup(this)">弃审</a>';
                                }else if(row.flag=='已拒绝'){
                                    var str = '<a href ="#"  class="easyui-linkbutton"   onclick="giveup(this)">重审</a>';
                                }
                                console.log("str=="+str);
                                return str;
                            }
                        }
                    ]
                ];
                $("#myGrid1").datagrid({
                    title: '&nbsp;申请列表',
                    iconCls: "panelIcon",
                    width:1200,
                    height:435,
                    singleSelect:true,
                    columns: xcolumns
                });
                if (row.id == 1) {    //全部
                    $("#myGrid1").datagrid('hideColumn','operation');
                    $("#myGrid1").datagrid({
                        url: 'http://localhost:8080/welfare/activity/findAll',
                    });
                } else if (row.id == 3) {     //审核中
                    $("#myGrid1").datagrid('showColumn','operation');
                    $("#myGrid1").datagrid({
                        url: 'http://localhost:8080/welfare/activity/findAll2',
                    });
                } else if (row.id == 2) {    //复审中
                    $("#myGrid1").datagrid('showColumn','operation');
                    $("#myGrid1").datagrid({
                        url: 'http://localhost:8080/welfare/activity/findAll1',
                    });
                } else if(row.id==4){   //已完成
                    $("#myGrid1").datagrid('hideColumn','operation');
                    $("#myGrid1").datagrid({
                        url: 'http://localhost:8080/welfare/activity/findAll3',
                    });
                }else{ //已拒绝
                    $("#myGrid1").datagrid('showColumn','operation');
                    $("#myGrid1").datagrid({
                        url: 'http://localhost:8080/welfare/activity/findAll4',
                    });
                }
            }
    });
    cnodes=$('#tree').tree('getRoot');
    cnodess=$('#tree').tree('getChildren',cnodes.target);
    $('#tree').tree('select', cnodess[0].target);


    function ok(e){   //接受申请，进入审核
        var row=$('#myGrid1').datagrid('getSelected');
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/activity/updateById",
            data:JSON.stringify({
                "activityid":row.activityid,
                "staffid":staffid,
                "flag":"复审中"
            }),
            success: function (result) {
                console.log(result);
                // alert("申请通过，已进入复审！");
                $.messager.show({
                    title:'信息提示',
                    msg:'初审通过，已进入复审！',
                    timeout:1000,
                    showType:'slide'
                });
                // ZENG.SysMsg.show('邮件格式错误！', "error");//需点击叉号
                // ZENG.SysMsg.show('请重新来过！', "alert");//自动消失
                // ZENG.SysMsg.show('申请通过，已进入复审！');//自动消失
                $("#myGrid1").datagrid("reload");
            }
        });
    }

    function reject(e){    //拒绝申请
        var row=$('#myGrid1').datagrid('getSelected');
        var n=$('#myGrid1').datagrid('getRowIndex', row);
        var userid=row.userid;
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/activity/updateById",
            data:JSON.stringify({
                "activityid":row.activityid,
                "flag":"已拒绝",
                "staffid":staffid

            }),
            success: function (result) {
                var date =new Date().Format("yyyy-MM-dd hh:mm:ss");
                        console.log(result);
                        // alert("已拒绝该申请！");
                $.messager.show({
                    title:'信息提示',
                    msg:'已拒绝该申请！',
                    timeout:1000,
                    showType:'slide'
                });
                // ZENG.SysMsg.show('已拒绝该申请');//自动消失
                        $("#myGrid1").datagrid("reload");
            }
        });
    }

    function giveup(e){
        var row=$('#myGrid1').datagrid('getSelected');
        var n=$('#myGrid1').datagrid('getRowIndex', row);
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/activity/updateById",
            data:JSON.stringify({
                "activityid":row.activityid,
                "flag":'初审中',
                "staffid":''
            }),
            success: function (result) {
                // $.messager.alert('信息提示','进入初审！');
                $.messager.show({
                    title:'信息提示',
                    msg:'进入初审！',
                    timeout:1000,
                    showType:'slide'
                });
                $("#myGrid1").datagrid("reload");
            }
        });
    }

    function detail(e){
        var row=$('#myGrid1').datagrid('getSelected');
        console.log("row===="+row);
        $(".mask").show();
        $(".bj").show();
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: 'application/json',
            url: "http://localhost:8080/welfare/user/findById",
            data: JSON.stringify({
                "userid": row.userid
            }),
            success: function (result) {
                console.log(result);
                document.getElementById("userid1").value=row.userid;
                document.getElementById("name1").value=result.name;
                document.getElementById("age1").value=result.age;
                document.getElementById("sex1").value=result.sex;
                document.getElementById("phone1").value=result.phone;
                document.getElementById("wechat1").value=result.wechat;
                document.getElementById("qq1").value=result.qq;
                document.getElementById("address1").value=result.address;
                document.getElementById("cardid1").value=result.cardid;
                document.getElementById("email1").value=result.email;
                document.getElementById("job1").value=result.job;
                document.getElementById("work1").value=result.work;
            }
        });
    }
    //	取消按钮
    $("#cancel").click(function(){
        $(".mask").hide();
        $(".bj").hide();
    });




</script>

    </body>

    </html>