<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    xa:link {  text-decoration: none}
    xa:hover { text-decoration: underline}
    .xmypanel-header {
        background-color: #E0ECFF;
    }
</style>
<head>
    <title>护理部门-新闻发布</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/default/easyui.me.css">
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../system/css/icon.css">
    <script type="text/javascript" src="../jqeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../system/easyui_functions.js"></script>
    <script type="text/javascript" src="../functions/functions/functions.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../system/easyui_functions.js"></script>
    <script type="text/javascript" src="../functions/functions/functions.js"></script>
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../css/elements.css" />
    <link rel="stylesheet" type="text/css" href="../css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="../css/upbook.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]-->
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>    <meta charset="utf-8">
 </head>

<!--<div id="toppanel" data-options="region:'north'" style="overflow:hidden; height:34px; background-color:#E0ECFF;">-->
    <!--<img src="images/logo.png" height="24" width="120" style="margin:4px 0px 0px 10px;" />-->
    <!--<a href="login" class="easyui-linkbutton" data-options="plain:true" style="float:right; margin:4px 10px 0px 0px;">重新登录</a>-->
<!--</div>-->
<div id="main" title="新闻发布" paddingdata-options="fit:true" style="height:auto">
</div>

 <!--main container .wide-content is used for this layout without sidebar :)  -->

    <div class="content wide-content">
    <div class="container-fluid">
        <div class="settings-wrapper" id="pad-wrapper">
            <!-- avatar column -->
            <div id="box">
                <img id="imgshow" src="" alt="" style="width:200px;height:200px" />
            </div>
            <div id="pox" >
                <input id="filed" type="file"  accept="image/*" />
            </div>

            <!-- edit form column -->
            <div class="span7 personal-info">
                <h5 class="personal-title">新闻信息</h5>
                <form />
                <div class="field-box">
                    <label>标题:</label>
                    <input id="title" class="span5 inline-input" type="text" value="" />
                </div>
                <div class="field-box">
                    <label>时间:</label>
                    <input id="date" class="span5 inline-input" type="text" value="" />
                </div>
                <div class="field-box">
                    <label>概括:</label>
                    <textarea id="summarise" class="span5" style="height:200px;"></textarea>
                </div>
                <div class="field-box">
                    <label>内容:</label>
                    <textarea id="content" class="span5" style="height:200px;"></textarea>
                </div>
                <div class="span6 field-box actions">
                    <input id="confirm" type="button" class="btn-glow primary" value="确定" />
                    <input id="cancel" type="reset" value="取消" class="reset" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end main container -->

<script>

    var currentShowCity=0;

    $(document).ready(function(){
        $("#num1").change(function(){
            $("#num1 option").each(function(i,o){
                if($(this).attr("selected"))
                {

                    $(".num2").hide();
                    $(".num2").eq(i).show();
                    currentShowCity=i;
                }
            });
        });
        //确认添加图书信息按钮
        $('#confirm').click(function(e) {
            $.ajax({
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                url: "http://localhost:8080/laofuzi/book/add",
                data:JSON.stringify({
                    "name":$('#name').val(),
                    "author":$('#author').val(),
                    "describe":$('#describe').val(),
                    "unitprice":$('#unitprice').val(),
                    "quantity":$('#quantity').val(),
                    "publishDate":"2019-12-04",
                    "publisher":"人民出版社",
                    "categoryId":"101",
                    "img":"/laofuzi/images/001.jpg",
                    "score":5,
                    "status":1,
                    "extendField":"",
                }),
                success: function (result) {
                    console.log(result);
                    alert("添加成功！");
                    location.reload(true);
                    window.top.location.href="/laofuzi/admin/index";
                }
            })
        });
        $("#num1").change();
        //在input file内容改变的时候触发事件
        $('#filed').change(function () {
            //获取input file的files文件数组;
            //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
            //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
            var file = $('#filed').get(0).files[0];
            //创建用来读取此文件的对象
            var reader = new FileReader();
            //使用该对象读取file文件
            reader.readAsDataURL(file);
            //读取文件成功后执行的方法函数
            reader.onload = function (e) {
                //读取成功后返回的一个参数e，整个的一个进度事件
                console.log(e);
                //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                //的base64编码格式的地址
                $('#imgshow').get(0).src = e.target.result;
            }
        });

    });

</script>

    </body>

    </html>