<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    xa:link {  text-decoration: none}
    xa:hover { text-decoration: underline}
    .xmypanel-header {
        background-color: #E0ECFF;
    }
</style>
<head>
    <title>护理部门-基本信息</title>
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/default/easyui.me.css">
    <link rel="stylesheet" type="text/css" href="../jqeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../system/css/icon.css">
    <script type="text/javascript" src="../jqeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jqeasyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../system/easyui_functions.js"></script>
    <script type="text/javascript" src="../functions/functions/functions.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <meta charset="utf-8">
    </head>

<div id="main" title="儿童管理"  paddingdata-options="fit:true" style="height:auto">
</div>

<!-- CRUD 菜单栏 -->
<div id="tb" style="position: absolute;top:0px;left:600px;margin-top: 8px; ">
    <input type="text" placeholder="请输入姓名/状态" name="" id="search" value="" style="margin-bottom:2px;height:20px;font-size: 10px"/>
    <a id="btn" href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="margin-left: -5px"></a>
    <!--plain="true"去掉边框-->
    <a href="javascript:newStaff()" class="easyui-linkbutton" iconCls="icon-add" plain="true" style="margin-left: 20px">添加</a>
    <a href="javascript:updateStaff()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
    <a href="javascript:deleteStaff()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
</div>

<!--增加form表单-->
<div id="dlg" class="easyui-dialog" style="width:400px;height:380px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
    <br id="fm" method="post" onSubmit="return checkForm()">
        <input id="childrenid1" class="text" type="hidden" >
    <div class="fitem" style="margin-left: 40px">
        <label>儿童编号:</label>
        <input id="childrenid" class="easyui-textbox" required="true" >
        <span id="account_msg1"></span>
    </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
            <input id="name"  class="easyui-textbox" required="true" >
            <span id="account_msg"></span>
        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
            <select id="sex" class="easyui-combobox" required="true" style="width:60px" data-options="editable:false,panelHeight:'auto'">
                <option value="0" selected = "selected">男</option>
                <option value="1">女</option>
            </select>

        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:</label>
            <input id="age" class="easyui-textbox" required="true">
        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>护理级别:</label>
            <select id="nurse" class="easyui-combobox" required="true" style="width:60px" data-options="editable:false,panelHeight:'auto'">
                <option value="0" selected = "selected">一级</option>
                <option value="1">二级</option>
                <option value="2">三级</option>
            </select>
        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>当前状态:</label>
            <select id="status" class="easyui-combobox" required="true" style="width:60px" data-options="editable:false,panelHeight:'auto'">
                <option value="0" selected = "selected">在院</option>
                <option value="1">出院</option>
                <option value="2">领养</option>
                <option value="3">寄养</option>
                <option value="4">死亡</option>
            </select>
        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>入院时间:</label>
            <input id="admissiondate" class="easyui-datebox" required="true">
        </div></br>
        <div class="fitem" style="margin-left: 40px">
            <label>身份证号:</label>
            <input id="cardid" class="easyui-textbox" required="true">
        </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>出生日期:</label>
        <input id="birthdate" class="easyui-datebox" required="true">
    </div></br>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStaff()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<!--增加死亡出院表单-->
<div id="dlg1" class="easyui-dialog" style="width:400px;height:380px;padding:10px 20px;display:none" closed="true" buttons="#dlg-buttons1">
    <input id="staffid1" class="text" type="hidden" >
    <div class="fitem" style="margin-left: 40px">
        <label>出院编号:</label>
        <input id="leaveid" class="easyui-textbox" required="true" style="width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>儿童姓名:</label>
        <input id="childrenid2" class="easyui-textbox" required="true" style="readonly:true;width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>去&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;向:</label>
        <input id="goes" class="easyui-textbox" required="true" style="width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</label>
        <input id="date" class="easyui-datebox" required="true" style="width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
        <input id="phone" class="easyui-textbox" required="true" style="width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因:</label>
        <input id="reason" class="easyui-textbox" required="true" style="width:170px">
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
        <inpue id="type" class="easyui-textbox" required="true" style="readonly:true" />
    </div></br>
    <div class="fitem" style="margin-left: 40px">
        <label>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</label>
        <input id="note" class="easyui-textbox" style="width:170px">
    </div></br>
    </form>
</div>
<div id="dlg-buttons1">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStaff1()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')">取消</a>
</div>

    <script>
        var staffid = localStorage.getItem("staffid");
        var str='<div id="myGrid1" class="easyui-datagrid"></div>';
        $("#main").append($(str));
        var xcolumns=[
            [
                { title: '儿童编号', field: 'childrenid', width: 90,  sortable: true, align: 'center'},
                { title: '姓名', field: 'name', width: 90,  sortable: true, halign:'center', align: 'center'	},
            { title: '性别', field: 'sex', width: 90, halign:'center', align: 'center', },
            { title: '年龄', field: 'age', width: 90, halign:'center', align: 'center' },
            { title: '护理级别', field: 'nurse', width: 100, halign:'center', align: 'center' },
            { title: '当前状态', field: 'status', width: 100, halign:'center', align: 'center' },
            { title: '入院时间', field:'admissiondate', width: 120, halign:'center', align: 'left' },
            { title: '身份证号', field:'cardid', width: 140, halign:'center', align: 'left' },
                { title: '出生日期', field:'birthdate', width: 120, halign:'center', align: 'left' },
                { title: '记录人', field:'recorderid', width: 100, halign:'center', align: 'center' }
        ]
        ];
        $("#myGrid1").datagrid({
            title: '&nbsp;儿童列表',
            iconCls: "panelIcon",
            width:1055,
            height:450,
            singleSelect:true,
            columns: xcolumns,
            url: 'http://localhost:8080/welfare/children/findAll',
        });



        /*弹出增加form表单*/
        function newStaff(){
             flag=1;
            $('#dlg').dialog('open').dialog('setTitle','新增儿童');
            $('#childrenid').textbox('textbox').attr('readonly',false);
            $('#status').combobox('reaonly',true);
            $('#childrenid').textbox('setValue','');
            $('#name').textbox('setValue','');
            $('#sex').combobox('setValue','');
            $('#age').textbox('setValue','');
            $('#status').combobox('setValue','在院');
            var date =new Date().Format("yyyy-MM-dd hh:mm:ss");
            $('#admissiondate').datebox('setValue',date);
            $('#nurse').combobox('setValue','');
            $('#cardid').textbox('setValue','');
            $('#birthdate').textbox('setValue','');
        }

        // 选择死亡或出院的话弹出新增离开表单
        $('#status').combobox({
            onSelect:function(record){
                console.log("record.value=="+record.value);
                console.log("record.text=="+record.text);
                if(record.value==1 || record.value==4){ // 1出院，4死亡
                    // flag2=1;
                    var adviceid=$('#adviceid').val();
                    var name=$('#name').val();
                    $('#dlg1').dialog('open').dialog('setTitle','新增出院记录');
                    $('#leaveid').textbox('setValue','');
                    // $('#childrenid2').textbox('textbox').attr('readonly',true);
                    $('#childrenid2').textbox('setValue',name);
                    var date = new Date().Format("yyyy-MM-dd");
                    $('#date').datebox('setValue',date);
                    $('#reason').textbox('setValue','');
                    $('#type').textbox('setValue',record.text);
                    $('#note').textbox('setValue','');
                    $('#goes').textbox('setValue','');
                    $('#phone').textbox('setValue','');
                }
            }
        });
        function updateStaff(childrenid) {
            $('#dlg').dialog('open').dialog('setTitle', '修改儿童基本信息');
            flag = 2;
            var row = $('#myGrid1').datagrid('getSelected');
            console.log(row.childrenid);
            $('#childrenid').textbox('textbox').attr('readonly',true);
            $('#status').combobox('readonly',false);
            $('#childrenid').textbox('setValue',row.childrenid);
            $('#name').textbox('setValue',row.name);
            $('#sex').combobox('setValue',row.sex);
            $('#age').textbox('setValue',row.age);
            $('#status').combobox('setValue',row.status);
            $('#admissiondate').datebox('setValue',row.admissiondate);
            $('#nurse').combobox('setValue',row.nurse);
            $('#cardid').textbox('setValue',row.cardid);
            $('#birthdate').datebox('setValue',row.birthdate);
        }

        // 删除
        function deleteStaff(childrenid){
            $.messager.confirm('确认提示', '确定删除基本信息？', function (r) {
                if (r) {
                var row=$('#myGrid1').datagrid('getSelected');
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    url: "http://localhost:8080/welfare/children/delete",
                    data:JSON.stringify({
                        "childrenid":row.childrenid
                    }),
                    success: function (result) {
                        console.log(result);
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            contentType: 'application/json',
                            url: "http://localhost:8080/welfare/grow/deleteByCId",
                            data:JSON.stringify({
                                "childrenid":row.childrenid
                            }),
                            success: function (result) {
                                $.ajax({
                                    type: "post",
                                    dataType: "json",
                                    contentType: 'application/json',
                                    url: "http://localhost:8080/welfare/leave/delete",
                                    data:JSON.stringify({
                                        "childrenid":row.childrenid
                                    }),
                                    success: function (result) {
                                        $.messager.show({
                                            title:'提示信息',
                                            msg:'删除成功！',
                                            timeout:1000,
                                            showType:'slide'
                                        });
                                        $("#myGrid1").datagrid("reload");
                                    }
                                })
                            }
                        })
                    }
                });
            }
        })
        }
        //点击确认修改按钮
        function  saveStaff() {
            var row=$('#myGrid1').datagrid('getSelected');
            var n=$('#myGrid1').datagrid('getRowIndex', row);
                var childrenid=$('#childrenid').val();
               var  name=$('#name').val();
                var sex=$('#sex').combobox('getText');
                var age=$('#age').val();
               var nurse=$('#nurse').combobox('getText');
            var status=$('#status').combobox('getText');
            var admissiondate=$('#admissiondate').datebox('getValue');
            var cardid=$('#cardid').val();
            var birthdate=$('#birthdate').datebox('getValue');
            var res = IdCodeValid(cardid);
            var data= analyzeIDCard(cardid);
            if(childrenid== null || childrenid==""){
                $.messager.show({
                    title:'提示信息',
                    msg:'请输入编号！',
                    timeout:1000,
                    showType:'slide'
                });
            }else if(name== null || name==""){
                $.messager.show({
                    title:'提示信息',
                    msg:'请输入儿童姓名！',
                    timeout:1000,
                    showType:'slide'
                });
            }else{
                    if (flag==1) {//插入
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            contentType: 'application/json',
                            url: "http://localhost:8080/welfare/children/register",
                            data:JSON.stringify({
                                "childrenid":childrenid,
                                "name": name,
                                "sex": data.sex,
                                "age":data.age,
                                "status":status,
                                "cardid":cardid,
                                 "nurse":nurse,
                                "admissiondate":admissiondate,
                                "birthdate":data.birthdate,
                                "recorderid":staffid
                            }),
                                    success: function (result) {
                                        var userinfo = JSON.stringify(result);
                                        console.log(userinfo);
                                        newData = eval("("+userinfo+")");
                                        console.log(newData);
                                        if(newData.Msg =="添加成功!" ){
                                            $.messager.show({
                                                title:'提示信息',
                                                msg:'添加成功！',
                                                timeout:1000,
                                                showType:'slide'
                                            });
                                            $("#myGrid1").datagrid("reload");
                                            $('#dlg').dialog('close');
                                            var data=$('#myGrid1').datagrid('getData');
                                            $('#myGrid1').datagrid('selectRow', data.rows.length);
                                        }else{
                                            $.messager.show({
                                                title:'提示信息',
                                                msg:newDate.Msg,
                                                timeout:1000,
                                                showType:'slide'
                                            });
                                        }
                                    }
                                });
                            }else {//修改
                                $.ajax({
                                    type: "post",
                                    dataType: "json",
                                    contentType: 'application/json',
                                    url: "http://localhost:8080/welfare/children/updateById",
                                    data:JSON.stringify({
                                        "childrenid":row.childrenid,
                                        "name": name,
                                        "sex": sex,
                                        "age":age,
                                        "status":status,
                                        "nurse":nurse,
                                        "cardid":cardid,
                                        "admissiondate":admissiondate,
                                        "birthdate":birthdate,
                                        "recorderid":staffid
                                    }),
                                    success: function (result) {
                                        if (status == '死亡' || status == '出院') {
                                            var leave = saveStaff1();
                                            console.log("leave==" + leave);
                                            $.ajax({
                                                type: "post",
                                                dataType: "json",
                                                contentType: 'application/json',
                                                url: "http://localhost:8080/welfare/leave/register",
                                                data: JSON.stringify({
                                                    "leaveid": leave.leaveid,
                                                    "childrenid": leave.childrenid,
                                                    "goes": leave.goes,
                                                    "phone": leave.phone,
                                                    "type": leave.type,
                                                    "date": leave.date,
                                                    "reason": leave.reason,
                                                    "staffid": staffid,
                                                    "note": leave.note
                                                }),
                                                success: function (result) {
                                                    console.log(result);
                                                }
                                            });
                                        }
                                        $.messager.show({
                                            title:'提示信息',
                                            msg:'修改成功！',
                                            timeout:1000,
                                            showType:'slide'
                                        });
                                        $('#dlg').dialog('close');
                                        $('#myGrid1').datagrid('selectRow', n);
                                        $("#myGrid1").datagrid("reload");
                                        console.log(n);
                                    }
                                });
                            }
                    }
        }

        function saveStaff1(){
            var leave={};
            leave.leaveid=$('#leaveid').val();
            leave.childrenid=$('#childrenid2').val();
            leave.date=$('#date').datebox('getValue');
            leave.type=$('#type').val();
            leave.phone=$('#phone').val();
            leave.goes=$('#goes').val();
            leave.reason=$('#reason').val();
            leave.note=$('#note').val();
            console.log("leave=="+leave);
            $('#dlg1').dialog('close');
            return leave;
        }

        function search(){
            var keywords = document.getElementById("search").value;
            $.ajax({
                url: "/welfare/children/findByCondition",
                type: "POST",
                dataType:"json",
                contentType : 'application/json',
                data: JSON.stringify({"name":keywords}),
                async: false,
                success: function(result){
                    console.log(result);
                    $("#myGrid1").datagrid('loadData',result);
                }
            });
        }

    </script>

    </body>

    </html>