<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/mygrxx.css" />
    <link rel="stylesheet" type="text/css" href="plug/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plug/Font-Awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="jqeasyui/themes/default/easyui.me.css">
    <link rel="stylesheet" type="text/css" href="jqeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="system/css/icon.css">
    <script type="text/javascript" src="jqeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="jqeasyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
</head>
<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6 ">
                    <!--<p><i class="fa fa-phone"> </i> 400-800-9696</p>-->
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 text-right">
                    <form class="navbar-form text-right" role="search">
                        <div class="form-group" style="font-size:12px;color:#000; ">
                            <div class="sou fl">
                                <div id="userinfo" class="fl"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="index">
                    <img class="logo" src="images/logo1.png" alt="">
                    <h1>儿童福利院</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index">首页</a></li>
                    <!--<li><a href="products">来访预约</a></li>-->
                    <li><a href="news">新闻动态</a></li>
                    <li><a href="about">社工/活动招聘</a></li>
                    <li><a href="join">领养申请</a></li>
                    <li><a href="profuile">福利院介绍</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="Bott">
        <div class="wrapper clearfix">
            <div class="zuo fl">
                <div>
                    <ul >
                        <li><a style="color:red" href="personal">个人信息</a></li>
                        <li><a href="apply">社工/活动</a></li>
                        <li><a href="foster">领养申请</a></li>
                    </ul>
                </div>
            </div>
            <div class="you fl">
                <h2>个人信息</h2>
                <div class="gxin">
                    <div class="xx">
                        <h3 class="clearfix"><strong class="fl">基础资料</strong><a href="#" class="fr" id="edit1">编辑</a></h3>
                        <div class="fitem">
                            <label>账&nbsp;&nbsp;&nbsp;号:<span id="userid"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>用户姓名:<span id="name"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>性&nbsp;&nbsp;&nbsp; 别:<span id="sex"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>年 &nbsp;&nbsp;&nbsp; 龄:<span id="age"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>联系号码:<span id="phone"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>微信号:<span id="wechat"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>身份证号:<span id="cardid"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>地&nbsp;&nbsp;&nbsp;址:<span id="address"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>email:<span id="email"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>Q&nbsp;&nbsp;&nbsp;Q:<span id="qq"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>工&nbsp;&nbsp;&nbsp;作:<span id="job"></span></label>
                        </div></br>
                        <div class="fitem">
                            <label>工作单位:<span id="work"></span></label>
                        </div></br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--遮罩-->
<div class="mask"></div>
<!--编辑弹框-->
<div class="bj">
    <h3 style="margin-top: 0px"> 编辑基础资料</h3>
    <form action="#" method="get" style="margin-top: -30px;">
        <label>账号：</label><input id="userid1" type="text" readonly="readonly"/></br>
        <label>姓名：</label><input id="name1" type="text" /></br>
        <label>性别：</label><input  id="sex1" type="text"   readonly="readonly" /></br>
        <label>年龄：</label><input id="age1" type="text"   readonly="readonly" /></br>
        <label>电话号码：</label><input id="phone1" type="text"   /></br>
        <label>地址：</label><input id="address1" type="text"   /></br>
        <label>身份证号：</label><input id="cardid1" type="text"   /></br>
        <label>email：</label><input id="email1"type="text"   /></br>
        <label>微信号：</label><input id="wechat1" type="text"   /></br>
        <label>QQ：</label><input id="qq1" type="text"   /></br>
        <label>工作：</label><input id="job1" type="text"   /></br>
        <label>工作单位：</label><input id="work1" type="text"   /></br>
        <div class="bc">
            <input id="save" type="button" value="保存"  />
            <input id="cancel" type="button" value="取消" />
        </div>
    </form>
</div>

<!------------------------------Bott------------------------------>

<!--footer-->
<footer style="margin-top: 5px;">
    <!--footer-->
    <!--备案号-->
    <div class="footer-button">
        <div class="container">
            <p>Copyright &copy; 2006 - 2019 福利院 All rights reserved. 鲁ICP备13018343号</p>
            <p>Powered by Fuqian X3.2. Theme designed by 符倩.</p>
        </div>
    </div>
</footer>

<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--自己写的js-->
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script>
    var userid=window.localStorage.getItem("userid");
    var infouser="";
    console.log("userid"+userid);
    $.ajax({
        url: "/welfare/user/findById",
        type: "POST",
        dataType:"json",
        contentType : 'application/json',
        data: JSON.stringify({"userid":userid
        }),
        async: false,
        success: function(result){
            console.log("result"+result);
            if(result==null){
                infouser = "你好! 请&nbsp;<a href=\"userlogin\" >登录</a>&nbsp;|&nbsp;\n" +
                    "<a href=\"register\" >注册</a>";
            }else{
                infouser = "欢迎&nbsp;"+ result.name +"&nbsp;|&nbsp;\n" +
                    "<a href=\"userlogin\" >退出</a>&nbsp;|&nbsp;<a href=\"personal\">个人中心</a>";
            }
            $("#userinfo").append(infouser);
        }
    });


    $.ajax({
        type: "post",
        dataType: "json",
        contentType: 'application/json',
        url: "http://localhost:8080/welfare/user/findById",
        data: JSON.stringify({
            "userid": userid
        }),
        success: function (result) {
            console.log(result);
            $("#userid").html(userid);
            $("#name").html(result.name);
            $("#sex").html(result.sex);
            $("#age").html(result.age);
            $("#phone").html(result.phone);
            $("#wechat").html(result.wechat);
            $("#qq").html(result.qq);
            $("#cardid").html(result.cardid);
            $("#address").html(result.address);
            $("#email").html(result.email);
            $("#job").html(result.job);
            $("#work").html(result.work);
        }
    });

</script>
</body>
</html>