<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:o="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>福利院介绍</title>
    <link rel="shortcut icon" href="img/home/title_img_03.png" type="images/x-5b">
    <!--<title>Document</title> 关键字增加所搜性-->
    <meta name="description" content="">
    <!--移动端<meta name="keywords" content="">-->
    <!--<meta name="keywords" content="公司介绍,发展历程,企业文化,家具定制,定制家具,合肥全屋定制,家具品牌,合肥定制家具,全屋定制家具">-->
    <!--<meta name="keywords" content="">content="123"给网站关键字增加所搜性-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--做移动端一定要加他.支持手机端的neta标签<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--为了能更好的显示-->
    <!--这是为了让网站优先兼容最高版本的ie浏览器 -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="plug/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="plug/Font-Awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<!--header头部-->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6 ">
                    <!--<p><i class="fa fa-phone"> </i> 400-800-9696</p>-->
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 text-right">
                    <form class="navbar-form text-right" role="search">
                        <div class="form-group" style="font-size:12px;color:#000; ">
                            <div class="sou fl">
                                <div id="userinfo" class="fl"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="index">
                    <img class="logo" src="images/logo1.png" alt="">
                    <h1>儿童福利院</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index">首页</a></li>
                    <!--<li><a href="products">来访预约</a></li>-->
                    <li><a href="news">新闻动态</a></li>
                    <li><a href="about">社工/活动招聘</a></li>
                    <li><a href="join">领养申请</a></li>
                    <li><a class="active" href="profuile">福利院介绍</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="profuile">
    <div class="gjinajie-banner banner_img">
        <img src="images/welfare1.jpeg" alt="" style="width:1200px;margin-left: 12px;margin-top:-60px;">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center">儿童福利院介绍</h2>
            <div class="col-md-6">
                <h6></h6>
                <p class="le">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 天津市儿童福利院是我市唯一一家收容收养孤残儿童的国办儿童福利机构，前身系1794年（清乾隆五十九年）建立的长芦育婴堂，和1878年（光绪四年）建立的津河广仁堂，距今已有二百余年的历史。在解放后，天津市人民政府对旧有的福利救济机构逐步进行了调整和整顿，重新建立了由人民政府所属民政局领导的新型福利事业单位，于1958年7月正式合并为天津市儿童教养院。1959年正式更名为天津市儿童福利院。1988年成立了天津市民政局残疾儿童康复中心。<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2010年作为天津市二十项民心工程之一的儿童福利院白堤路院改建工程，在各级政府和部门的支持下，于2011年12月24日正式投入使用。白堤路院址占地6200平方米，建筑面积8500平方米，外墙色彩鲜艳，红瓦坡顶，置身其中，宛如徜徉于童话的世界。五马路院址占地面积近8000平方米，建筑面积5000余平方米，绿荫曲径、古迹新貌，书写了我院百年风雨发展的厚重历史。两院一脉相承，彼此依托，一所集收养、教育、医疗、康复、娱乐、培训、教学为一体的一级儿童福利机构逐渐呈现在世人面前。<br />
                </p>
                <p>
                    <span style="font-size:12px;"><span style="font-family: arial,helvetica,sans-serif;"><big>&nbsp;&nbsp;&nbsp; 地点：天津市南开区白堤路57号（邮编：300193）</big></span></span><span style="font-size:12px;"><span style="font-family: arial,helvetica,sans-serif;"><big> </big></span></span></p>
                <p>
                    <span style="font-size:12px;"><span style="font-family: arial,helvetica,sans-serif;"><big>&nbsp;&nbsp;&nbsp; 乘车路线：乘公交车609、640、849、859路到南开文化宫站下</big></span></span><span style="font-size:12px;"><span style="font-family: arial,helvetica,sans-serif;"><big>&nbsp;</big></span></span></p>
                <p>
                    <span style="font-size:12px;"><span style="font-family: arial,helvetica,sans-serif;"><big>&nbsp;&nbsp;&nbsp; 联系电话：27354895、27429396</big></span></span></p>
            </div>
            <div class="col-md-6">
                <img src="images/welfare.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="pr_rongyv">
    <div class="container">
        <h2>荣誉资质</h2>
        <div class="row">
            <div class="col-md-3">
                <h3>2005年9月17日</h3>
                <p>通过了ISO9001:2000国际质量体系认证,成为全国首家通过该认证的儿童福利机构</p>
            </div>
            <div class="col-md-3">
                <h3>2007年9月17日</h3>
                <p>获得“天津市一级福利院”荣誉称号，获得“天津市文明窗口”荣誉称号</p>
            </div>
            <div class="col-md-3">
                <h3>2009年8月14日</h3>
                <p>
                    获得“天津市文明单位”荣誉称号，荣获“天津市十五立功先进单位”殊荣</p>
                </p>
            </div>
            <div class="col-md-3">
                <h3>2011年4月15日</h3>
                <p>
                    获得“天津市五一劳动奖状”荣誉,荣获“全国保护妇女儿童合法权益先进集体”荣誉称号
                </p>
            </div>
            <div class="col-md-3">
                <h3>2013年8月27日</h3>
                <p>
                    荣获“民政部第一批社工人才队伍实践基地”殊荣 ,2013年度全国十佳儿童福利机构
                </p>
            </div>
            <div class="col-md-3">
                <h3>2015年7月05日</h3>
                <p>
                    被誉为“民政部脑瘫康复示范基地”
                </p>
            </div>
            <div class="col-md-3">
                <h3>2016年9月12日</h3>
                <p>
                    荣获“全国巾帼文明岗”荣誉称号
                </p>
            </div>
            <div class="col-md-3">
                <h3>2017年2月27日</h3>
                <p>
                    被誉为“全国护理员培训基地”
                </p>
            </div>
        </div>
    </div>
</div>
<footer style="margin-top: 0px;">
    <!--footer-->
    <!--备案号-->
    <div class="footer-button">
        <div class="container">
            <p>Copyright &copy; 2006 - 2019 福利院 All rights reserved. 鲁ICP备13018343号</p>
            <p>Powered by Fuqian X3.2. Theme designed by 符倩.</p>
        </div>
    </div>
</footer>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--自己写的js-->
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>

</body>
<script>
    var userid=window.localStorage.getItem("userid");
    var infouser="";
    console.log("userid"+userid);
    $.ajax({
        url: "/welfare/user/findById",
        type: "POST",
        dataType:"json",
        contentType : 'application/json',
        data: JSON.stringify({"userid":userid
        }),
        async: false,
        success: function(result){
            console.log("result"+result);
            if(result==null){
                infouser = "你好! 请&nbsp;<a href=\"userlogin\" >登录</a>&nbsp;|&nbsp;\n" +
                    "<a href=\"register\" >注册</a>";
            }else{
                infouser = "欢迎&nbsp;"+ result.name +"&nbsp;|&nbsp;\n" +
                    "<a href=\"userlogin\" >退出</a>&nbsp;|&nbsp;<a href=\"personal\">个人中心</a>";
            }
            $("#userinfo").append(infouser);
        }
    });

</script>
</html>
