<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welfare.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.welfare.entity.User" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="cardid" property="cardid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    userid, name, password,sex,age,address,cardid,phone,email,wechat,qq,note,job,`work`
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from `users`
    where userid = #{userid,jdbcType=VARCHAR}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from `users`
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="findByCondition" parameterType="com.welfare.entity.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM  `users`
    where `name` like CONCAT('%',#{name},'%') or `userid` like  CONCAT('%',#{name},'%')
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM  `users`
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `users`
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.welfare.entity.User" >
    insert into `users` (userid, name, password,
      sex, email, age,
      qq, wechat, cardid,
      phone, note, address,job,`work`)
    values (#{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{qq,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
       #{job,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.welfare.entity.User" >
    update `users`
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardid = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        `work` = #{work,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>



</mapper>